/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

html { 
  background: url(Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 5px 40px;
    color: white;
    text-align: center;
    width: 60%;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}


.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 5px;
}

table{
    width: 60%;
    background: #eee;
}
tr,td{
    width: 60%;
    padding: 20px;
}

.redtr{
    background: #f44336;
    border-color: #f44336;
}


.addBtn2 {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn2:hover {
    background-color: #bbb;
}

